<div class="header">
    <img src="assets/happy-swimming-logo.png" alt="Happy Swimming Logo" class="logo">
    <div class="navigation">
      <a href="#" class="nav-item">ABOUT US</a>
      <a href="#" class="nav-item">SERVICES</a>
      <a href="#" class="nav-item">CONTACT US</a>
      <div class="language-selector">
        <a href="#" class="lang-flag"><img src="assets/es-flag.png" alt="Spanish"></a>
        <a href="#" class="lang-flag"><img src="assets/en-flag.png" alt="English"></a>
      </div>
    </div>
  </div>