<style>
  @import url('https://fonts.googleapis.com/css2?family=Lexend+Peta:wght@100..900&display=swap');
</style>

<app-header></app-header>
<div class="about-container">
  <div class="hero-section">
    <h1 class="about-title">{{ 'aboutUs' | translate }}</h1>
  </div>
  
  <div class="content-section">
    <p class="philosophy-text">
      {{ 'aboutIntro' | translate }}
    </p>
    
    <p class="philosophy-text">
      {{ 'aboutMethodology' | translate }}
    </p>
    
    <p class="philosophy-text">
      {{ 'aboutPhilosophy' | translate }}
    </p>
    
    <p class="philosophy-text">
      {{ 'aboutAdults' | translate }}
    </p>
  </div>
</div>