<style>
    @import url('https://fonts.googleapis.com/css2?family=Lexend+Peta:wght@100..900&display=swap');
</style>

<app-header></app-header>
<div class="register-container">
    <div class="register-content">
        <h1 class="title">
            {{ 'client' | translate }}
        </h1>

        <div *ngIf="errorMessage" class="error-message">
            {{ errorMessage }}
        </div>

        <div class="client-type-selector">
            <div class="radio-group">
                <input type="radio" id="outsourcing" [value]="'outsourcing'" [(ngModel)]="externalOption"
                    [disabled]="true">
                <label for="outsourcing">{{ 'externalization' | translate }} - {{ 'outsourcing' | translate }}</label>
            </div>
            <div class="radio-group">
                <input type="radio" id="insourcing" [value]="'insourcing'" [(ngModel)]="externalOption"
                    [disabled]="true">
                <label for="insourcing">{{ 'escuelaCliente' | translate }} - {{ 'insourcing' | translate }}</label>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group">
                <label for="identificationNumber">{{ 'registration.identification' | translate }}<span
                        class="required">*</span></label>
                <input type="text" id="identificationNumber" [(ngModel)]="identificationNumber" class="form-control"
                    [disabled]="isLoading">
            </div>
            <div class="form-group wide">
                <label for="companyName">{{ 'registration.companyName' | translate }}</label>
                <input type="text" id="companyName" [(ngModel)]="companyName" class="form-control"
                    [disabled]="isLoading">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group">
                <label for="firstName">{{ 'registration.firstName' | translate }}<span class="required">*</span></label>
                <input type="text" id="firstName" [(ngModel)]="firstName" class="form-control" [disabled]="isLoading">
            </div>
            <div class="form-group">
                <label for="lastName1">{{ 'registration.lastName1' | translate }}<span class="required">*</span></label>
                <input type="text" id="lastName1" [(ngModel)]="lastName1" class="form-control" [disabled]="isLoading">
            </div>
            <div class="form-group">
                <label for="lastName2">{{ 'registration.lastName2' | translate }}</label>
                <input type="text" id="lastName2" [(ngModel)]="lastName2" class="form-control" [disabled]="isLoading">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group wide">
                <label for="address">{{ 'registration.address' | translate }}<span class="required">*</span></label>
                <input type="text" id="address" [(ngModel)]="address" class="form-control" [disabled]="isLoading">
            </div>
            <div class="form-group">
                <label for="postalCode">{{ 'registration.postalCode' | translate }}<span
                        class="required">*</span></label>
                <input type="text" id="postalCode" [(ngModel)]="postalCode" class="form-control" [disabled]="isLoading">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group">
                <label for="city">{{ 'registration.city' | translate }}<span class="required">*</span></label>
                <input type="text" id="city" [(ngModel)]="city" class="form-control" [disabled]="isLoading">
            </div>
            <div class="form-group">
                <label for="country">{{ 'registration.country' | translate }}<span class="required">*</span></label>
                <input type="text" id="country" [(ngModel)]="country" class="form-control" [disabled]="isLoading">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group">
                <label for="phoneFixed">{{ 'registration.phoneFixed' | translate }}</label>
                <input type="tel" id="phoneFixed" [(ngModel)]="phoneFixed" class="form-control" [disabled]="isLoading">
            </div>
            <div class="form-group">
                <label for="phoneMobile">{{ 'registration.phoneMobile' | translate }}<span
                        class="required">*</span></label>
                <input type="tel" id="phoneMobile" [(ngModel)]="phoneMobile" class="form-control"
                    [disabled]="isLoading">
            </div>
            <div class="form-group">
                <label for="email">{{ 'registration.email' | translate }}<span class="required">*</span></label>
                <input type="email" id="email" [(ngModel)]="email" class="form-control" [disabled]="isLoading">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group">
                <label for="password">{{ 'password' | translate }}<span class="required">*</span></label>
                <input type="password" id="password" [(ngModel)]="password" class="form-control" [disabled]="isLoading">
            </div>
            <div class="form-group">
                <label for="confirmPassword">{{ 'password' | translate }} ({{ 'registration.confirm' | translate
                    }})<span class="required">*</span></label>
                <input type="password" id="confirmPassword" [(ngModel)]="confirmPassword" class="form-control"
                    [disabled]="isLoading">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group wide">
                <label for="website">{{ 'registration.website' | translate }}</label>
                <input type="url" id="website" [(ngModel)]="website" class="form-control" [disabled]="isLoading">
            </div>
            <div class="form-group">
                <label for="plCode">{{ 'registration.plCode' | translate }}</label>
                <select id="plCode" [(ngModel)]="plCode" class="form-control" [disabled]="isLoading">
                    <option value="" selected>{{ 'registration.plCodeSelect' | translate }}</option>
                    <option *ngFor="let pl of plCodes" [value]="pl.code">{{ pl.code }} - {{ pl.description }}</option>
                </select>
            </div>
        </div>

        <!-- Swimming Abilities Section -->
        <div class="abilities-section">
            <h3 class="section-title">{{ 'swimmingAbilities.title' | translate }}</h3>
            <div class="abilities-checkboxes">
                <div class="ability-item" *ngFor="let ability of swimmingAbilities; let i = index">
                    <label>
                        <input type="checkbox" [checked]="ability.selected" (change)="toggleAbility(i)"
                            [disabled]="isLoading">
                        {{ 'swimmingAbilities.abilities.' + i | translate }}
                    </label>
                </div>
            </div>
        </div>

        <div class="terms-container">
            <div class="terms-checkbox">
                <input type="checkbox" id="acceptTerms" [(ngModel)]="acceptTerms" [disabled]="isLoading">
                <label for="acceptTerms">{{ 'registration.acceptTerms' | translate }} <span class="lopd-text">{{
                        'registration.lopd' | translate }}</span></label>
            </div>
        </div>

        <div class="button-container">
            <button class="btn btn-cancel" (click)="cancel()" [disabled]="isLoading">{{ 'registration.cancel' |
                translate }}</button>
            <button class="btn btn-register" (click)="onSubmit()" [disabled]="isLoading">
                <span *ngIf="!isLoading">{{ 'registration.register' | translate }}</span>
                <span *ngIf="isLoading">{{ 'registerFreeProfessional.processing' | translate }}</span>
            </button>
        </div>
    </div>
</div>